Repository giacomini/storm-tape: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-storm-tape:debug, build-docker:debug, test

.gitlab-ci.yml:

stages:
  - build-ci
  - build
  - docker-build
  - test

variables:
  VCPKG_DEFAULT_BINARY_CACHE: $CI_PROJECT_DIR/.cache/vcpkg

build-ci:
  stage: build-ci
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - docker login -u gitlab-ci-token -p ${CI_JOB_TOKEN} ${CI_REGISTRY}
  script:
    - docker build --pull -t $CI_REGISTRY_IMAGE/ci:$CI_COMMIT_REF_SLUG .devcontainer
    - docker push $CI_REGISTRY_IMAGE/ci:$CI_COMMIT_REF_SLUG
  only:
    changes:
      - .devcontainer/**/*
      - vcpkg.json
      - .gitlab-ci.yml
      
build-storm-tape:debug:
  stage: build
  image: $CI_REGISTRY_IMAGE/ci:$CI_COMMIT_REF_SLUG
  before_script:
    - mkdir -p $VCPKG_DEFAULT_BINARY_CACHE
  script:
    - cmake --preset debug
    - cmake --build build/debug --target package --parallel
  artifacts:
    paths:
    - build/debug/storm-tape-*.tar.gz
  cache:
    - key: $CI_JOB_NAME
      paths:
        - $VCPKG_DEFAULT_BINARY_CACHE
  only:
    changes:
      - src/*
      - test/**/*
      - cmake/**/*
      - docker/**/*
      - CMakeLists.txt
      - CMakePresets.json
      - vcpkg.json
      - .gitlab-ci.yml

build-storm-tape:release:
  stage: build
  image: $CI_REGISTRY_IMAGE/ci:$CI_COMMIT_REF_SLUG
  before_script:
    - mkdir -p $VCPKG_DEFAULT_BINARY_CACHE
  script:
    - cmake --preset release
    - cmake --build build/release --target package --parallel
  artifacts:
    paths:
    - build/release/storm-tape-*.tar.gz
  cache:
    - key: $CI_JOB_NAME
      paths:
        - $VCPKG_DEFAULT_BINARY_CACHE
  only:
    refs:
      - tags
  
build-docker:debug:
  stage: docker-build
  image: docker:latest
  services:
    - docker:dind
  needs:
    - build-storm-tape:debug
  before_script:
    - docker login -u gitlab-ci-token -p ${CI_JOB_TOKEN} ${CI_REGISTRY}
  script:
    - mv build/debug/storm-tape-*.tar.gz ./docker
    - docker build docker --pull -t $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG-debug
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG-debug
  only:
    changes:
      - src/*
      - test/**/*
      - cmake/**/*
      - docker/**/*
      - CMakeLists.txt
      - CMakePresets.json
      - vcpkg.json
      - .gitlab-ci.yml

build-docker:release:
  stage: docker-build
  image: docker:latest
  services:
    - docker:dind
  needs:
    - build-storm-tape:release
  before_script:
    - docker login -u gitlab-ci-token -p ${CI_JOB_TOKEN} ${CI_REGISTRY}
  script:
    - mv build/release/storm-tape-*.tar.gz ./docker
    - docker build docker --pull --build-arg STORM_BUILD_TYPE=release -t $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
  only:
    refs:
      - tags

test:
  stage: test
  image: 
    name: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG-debug
    entrypoint: [""]
  needs:
    - build-docker:debug
  script:
    - ./test/test_script.sh
  only:
    changes:
      - src/*
      - test/**/*
      - cmake/**/*
      - docker/**/*
      - CMakeLists.txt
      - CMakePresets.json
      - vcpkg.json
      - .gitlab-ci.yml

A relative path resolves to an empty path
  src/storage_area_resolver.cpp
  tests/storage_area_resolver.t.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Introduce the use of boost.assert
  src/errors.hpp
  src/main.cpp
  src/storage_area_resolver.cpp
  tests/all.t.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Review take_over implementation
  src/tape_service.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Add a basic form of profiling
  CMakeLists.txt
  src/database_soci.cpp
  src/main.cpp
  src/profiler.cpp
  src/profiler.hpp
  src/routes.cpp
  src/tape_service.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Make the profiling macros safer
  src/profiler.cpp
  src/profiler.hpp
Due: build-storm-tape:debug, build-docker:debug, test

Profile the locality computation
  src/local_storage.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Add a more generic bulk update function to the DB
  src/database.hpp
  src/database_soci.cpp
  src/database_soci.hpp
Due: build-storm-tape:debug, build-docker:debug, test

Bulk-update all the state changes
  src/tape_service.cpp
Due: build-storm-tape:debug, build-docker:debug, test

change version
  cmake/version.cmake
Due: build-storm-tape:debug, build-docker:debug, test

Augment versioning with git describe
  CMakeLists.txt
  cmake/version.cmake
  version.txt
Due: build-storm-tape:debug, build-docker:debug, test

Add support for RPM packaging
  .gitlab-ci.yml
  CMakeLists.txt
Due: build-ci, build-storm-tape:debug, build-docker:debug, test

Install rpm-build in the build container
  .devcontainer/library-scripts/provide-deps.sh
Due: build-ci

Increase the RPM release number
  CMakeLists.txt
Due: build-storm-tape:debug, build-docker:debug, test

Adjust the source path for the debuginfo rpm
  .gitlab-ci.yml
  CMakeLists.txt
Due: build-ci, build-storm-tape:debug, build-docker:debug, test

Reset RPM release number
  .gitlab-ci.yml
  CMakeLists.txt
Due: build-ci, build-storm-tape:debug, build-docker:debug, test

Make profiling opt-in at build time
  src/profiler.hpp
Due: build-storm-tape:debug, build-docker:debug, test

Version 0.2.0
  version.txt
Due: none

Format
  src/configuration.hpp
Due: build-storm-tape:debug, build-docker:debug, test

Consider also the port in the Forwarded header
  src/io.cpp
  src/io.hpp
  src/routes.cpp
  tests/CMakeLists.txt
  tests/io.t.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Shorten RPM build prefix
  .gitlab-ci.yml
Due: build-ci, build-storm-tape:debug, build-docker:debug, test

Configure che multi-config build in a subdir
  .gitlab-ci.yml
Due: build-ci, build-storm-tape:debug, build-docker:debug, test

Copy all storm-tape executables inside the image
  .gitlab-ci.yml
  docker/Dockerfile
Due: build-ci, build-storm-tape:debug, build-docker:debug, test

Executable is in sbin now...
  docker/Dockerfile
Due: build-storm-tape:debug, build-docker:debug, test

Make the search of storm-tape exe more flexible
  test/test_script.sh
Due: build-storm-tape:debug, build-docker:debug, test

Remove unused chrono include
  src/stage_request.hpp
Due: build-storm-tape:debug, build-docker:debug, test

Persist stage's updated timestaps to db
  src/database.hpp
  src/database_soci.cpp
  src/database_soci.hpp
  src/routes.cpp
  src/stage_request.hpp
  src/tape_service.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Add function to check if a state is a final state
  src/file.hpp
Due: build-storm-tape:debug, build-docker:debug, test

Minor code formatting
  src/sql_queries.hpp
Due: build-storm-tape:debug, build-docker:debug, test

Add update_timestamps() method.
  src/stage_request.cpp
  src/stage_request.hpp
Due: build-storm-tape:debug, build-docker:debug, test

Set StageRequest::started_at equal to StageRequest::finished_at when a request is immediately finished.
  src/database_soci.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Migrate all timestamps from chrono time_point to TimePoint (aka long long)
  src/database_soci.cpp
  src/io.cpp
  src/stage_request.hpp
  src/types.hpp
Due: build-storm-tape:debug, build-docker:debug, test

Update stage's timestamps during status request
  src/tape_service.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Convert json response to camelCase and add completedAt
  src/io.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Add stage_request and tape_service test suites. Add timestamps update test cases
  tests/CMakeLists.txt
  tests/fixture.t.cpp
  tests/fixture.t.hpp
  tests/stage_request.t.cpp
  tests/tape_service.t.cpp
Due: none

Minor code formatting
  src/io.cpp
  src/tape_service.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Remove useless condition on finished_at tp
  src/tape_service.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Refactor dummy config using raw string
  tests/fixture.t.hpp
Due: none

Remove useless ofstream close
  tests/fixture.t.hpp
Due: none

Fix yaml indentation in raw string
  tests/fixture.t.hpp
Due: none

Remove trailing space
  tests/fixture.t.hpp
Due: none
