Repository giacomini/storm-tape: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-storm-tape:debug, build-docker:debug, test

.gitlab-ci.yml:

stages:
  - build-ci
  - build
  - docker-build
  - test

variables:
  VCPKG_DEFAULT_BINARY_CACHE: $CI_PROJECT_DIR/.cache/vcpkg

build-ci:
  stage: build-ci
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - docker login -u gitlab-ci-token -p ${CI_JOB_TOKEN} ${CI_REGISTRY}
  script:
    - docker build --pull -t $CI_REGISTRY_IMAGE/ci:$CI_COMMIT_REF_SLUG .devcontainer
    - docker push $CI_REGISTRY_IMAGE/ci:$CI_COMMIT_REF_SLUG
  only:
    changes:
      - .devcontainer/**/*
      - vcpkg.json
      - .gitlab-ci.yml
      
build-storm-tape:debug:
  stage: build
  image: $CI_REGISTRY_IMAGE/ci:$CI_COMMIT_REF_SLUG
  before_script:
    - mkdir -p $VCPKG_DEFAULT_BINARY_CACHE
  script:
    - cmake --preset debug
    - cmake --build build/debug --target package --parallel
  artifacts:
    paths:
    - build/debug/storm-tape-*.tar.gz
  cache:
    - key: $CI_JOB_NAME
      paths:
        - $VCPKG_DEFAULT_BINARY_CACHE
  only:
    changes:
      - src/*
      - test/**/*
      - cmake/**/*
      - docker/**/*
      - CMakeLists.txt
      - CMakePresets.json
      - vcpkg.json
      - .gitlab-ci.yml

build-storm-tape:release:
  stage: build
  image: $CI_REGISTRY_IMAGE/ci:$CI_COMMIT_REF_SLUG
  before_script:
    - mkdir -p $VCPKG_DEFAULT_BINARY_CACHE
  script:
    - cmake --preset release
    - cmake --build build/release --target package --parallel
  artifacts:
    paths:
    - build/release/storm-tape-*.tar.gz
  cache:
    - key: $CI_JOB_NAME
      paths:
        - $VCPKG_DEFAULT_BINARY_CACHE
  only:
    refs:
      - tags
  
build-docker:debug:
  stage: docker-build
  image: docker:latest
  services:
    - docker:dind
  needs:
    - build-storm-tape:debug
  before_script:
    - docker login -u gitlab-ci-token -p ${CI_JOB_TOKEN} ${CI_REGISTRY}
  script:
    - mv build/debug/storm-tape-*.tar.gz ./docker
    - docker build docker --pull -t $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG-debug
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG-debug
  only:
    changes:
      - src/*
      - test/**/*
      - cmake/**/*
      - docker/**/*
      - CMakeLists.txt
      - CMakePresets.json
      - vcpkg.json
      - .gitlab-ci.yml

build-docker:release:
  stage: docker-build
  image: docker:latest
  services:
    - docker:dind
  needs:
    - build-storm-tape:release
  before_script:
    - docker login -u gitlab-ci-token -p ${CI_JOB_TOKEN} ${CI_REGISTRY}
  script:
    - mv build/release/storm-tape-*.tar.gz ./docker
    - docker build docker --pull --build-arg STORM_BUILD_TYPE=release -t $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
  only:
    refs:
      - tags

test:
  stage: test
  image: 
    name: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG-debug
    entrypoint: [""]
  needs:
    - build-docker:debug
  script:
    - ./test/test_script.sh
  only:
    changes:
      - src/*
      - test/**/*
      - cmake/**/*
      - docker/**/*
      - CMakeLists.txt
      - CMakePresets.json
      - vcpkg.json
      - .gitlab-ci.yml

Add test for nested access points in a SA
  tests/configuration.t.cpp
Due: none

Add test for SA resolver with multiple access points
  tests/storage_area_resolver.t.cpp
Due: none

Add first attempt to resolve with multiple access points per SA
  src/storage_area_resolver.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Return early if there are no results available
  src/database_soci.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Support multiple access points per storage area
  src/storage_area_resolver.cpp
  tests/configuration.t.cpp
  tests/storage_area_resolver.t.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Remove now-unused mock databasse
  src/database.hpp
Due: build-storm-tape:debug, build-docker:debug, test

Version 0.5.0
  version.txt
Due: none

Removed unused variable
  src/configuration.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Add support to set port in configuration file
  src/configuration.cpp
  tests/tape_service.t.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Replace <attr/xattr.h> with <sys/xattr.h>
  src/extended_attributes.cpp
  src/extended_attributes.hpp
Due: build-storm-tape:debug, build-docker:debug, test

Remove unused libattr-devel
  .devcontainer/library-scripts/provide-deps.sh
Due: build-ci

Force the usage of x86_64/amd64 base image (useful for mac users w/ rosetta)
  .devcontainer/Dockerfile
Due: build-ci

Set the CC env var to point to a recent gcc
  .devcontainer/devcontainer.json
Due: build-ci

Upgrade vcpkg to 2023.12.12
  CMakeLists.txt
  src/url.cpp
  vcpkg-configuration.json
  vcpkg.json
Due: build-ci, build-storm-tape:debug, build-docker:debug, test

Address issues reported by PVS-Studio
  src/access_logger.cpp
  src/configuration.cpp
  src/database_soci.cpp
  src/extended_attributes.cpp
  src/extended_attributes.hpp
  src/io.cpp
  src/io.hpp
  src/profiler.hpp
  src/routes.cpp
  src/storage_area_resolver.cpp
  src/tape_service.cpp
  tests/configuration.t.cpp
  tests/storage_area_resolver.t.cpp
  tests/tape_service.t.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Make log level configurable
  src/configuration.cpp
  src/configuration.hpp
  src/main.cpp
  tests/configuration.t.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Accept a request id up to 32 characters
  src/access_logger.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Version 0.6.0
  version.txt
Due: none

Profile extend_paths_with_localities
  src/tape_service.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Add support to configure mirror mode
  src/configuration.cpp
  src/configuration.hpp
  tests/configuration.t.cpp
Due: build-storm-tape:debug, build-docker:debug, test

In mirror mode don't create the xattr
  src/tape_service.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Use the full function name in the profiler
  src/profiler.hpp
Due: build-storm-tape:debug, build-docker:debug, test

Add an InProgressRequest
  src/in_progress_request.hpp
  src/io.cpp
  src/io.hpp
  tests/io.t.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Add the new in_progress implementation
  src/routes.cpp
  src/tape_service.cpp
  src/tape_service.hpp
Due: build-storm-tape:debug, build-docker:debug, test

Split locality operation into more primitive ones
  src/local_storage.cpp
  src/local_storage.hpp
  src/storage.hpp
  src/types.hpp
Due: build-storm-tape:debug, build-docker:debug, test

Introduce ExtendedFileStatus
  src/tape_service.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Review implementation of ExtendedFileStatus
  src/tape_service.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Keep base classes for DB and Storage by reference
  src/tape_service.cpp
  src/tape_service.hpp
Due: build-storm-tape:debug, build-docker:debug, test

Declare the project directory as "safe"
  .gitlab-ci.yml
Due: build-ci, build-storm-tape:debug, build-docker:debug, test

Fix build
  .gitlab-ci.yml
Due: build-ci, build-storm-tape:debug, build-docker:debug, test

Update vcpkg baseline to v2024.01.12
  vcpkg-configuration.json
Due: none

Move a file to Completed only if no errors occured
  src/tape_service.cpp
  tests/tape_service.t.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Update vcpkg baseline to v2024.02.14
  vcpkg-configuration.json
Due: none

Simplify check for a file in progress
  src/tape_service.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Add tests for the in_progress call
  tests/tape_service.t.cpp
Due: none

Always return the state, even if completed
  src/io.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Version 0.7.0
  version.txt
Due: none

Move config relative tests from tape_service.t.cpp to configuration.t.cpp
  tests/configuration.t.cpp
  tests/tape_service.t.cpp
Due: none

Apply autoreformat
  tests/configuration.t.cpp
  tests/tape_service.t.cpp
Due: none
