Repository giacomini/storm-tape: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-storm-tape:debug, build-docker:debug, test

.gitlab-ci.yml:

stages:
  - build-ci
  - build
  - docker-build
  - test

build-ci:
  stage: build-ci
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - docker login -u gitlab-ci-token -p ${CI_JOB_TOKEN} ${CI_REGISTRY}
  script:
    - docker build --pull -t $CI_REGISTRY_IMAGE/ci .devcontainer
    - docker push $CI_REGISTRY_IMAGE/ci
  rules:
    - changes:
      - .devcontainer/*
      - .devcontainer/**/*
      - .gitlab-ci.yml
    - changes:
      - .devcontainer/devcontainer.json
      when: never
      
build-storm-tape:debug:
  stage: build
  image: $CI_REGISTRY_IMAGE/ci
  script:
    - cmake --preset debug
    - cmake --build build/debug --target package
  artifacts:
    paths:
    - build/debug/storm-tape-*.tar.gz
  only:
    changes:
      - src/*
      - test/*
      - cmake/*
      - CMakeLists.txt
      - CMakePresets.json
      - vcpkg.json
      - .gitlab-ci.yml

build-storm-tape:release:
  stage: build
  image: $CI_REGISTRY_IMAGE/ci
  script:
    - cmake --preset release
    - cmake --build build/release --target package
  artifacts:
    paths:
    - build/release/storm-tape-*.tar.gz
  only:
    refs:
      - tags
  
build-docker:debug:
  stage: docker-build
  image: docker:latest
  services:
    - docker:dind
  needs:
    - build-storm-tape:debug
  before_script:
    - docker login -u gitlab-ci-token -p ${CI_JOB_TOKEN} ${CI_REGISTRY}
  script:
    - mv build/debug/storm-tape-*.tar.gz ./docker
    - docker build docker --pull -t $CI_REGISTRY_IMAGE:dev
    - docker push $CI_REGISTRY_IMAGE:dev
  only:
    changes:
      - src/*
      - test/*
      - cmake/*
      - CMakeLists.txt
      - CMakePresets.json
      - vcpkg.json
      - .gitlab-ci.yml

build-docker:release:
  stage: docker-build
  image: docker:latest
  services:
    - docker:dind
  needs:
    - build-storm-tape:release
  before_script:
    - docker login -u gitlab-ci-token -p ${CI_JOB_TOKEN} ${CI_REGISTRY}
  script:
    - mv build/release/storm-tape-*.tar.gz ./docker
    - docker build docker --pull -t $CI_REGISTRY_IMAGE
    - docker push $CI_REGISTRY_IMAGE
  only:
    refs:
      - tags

test:
  stage: test
  image: 
    name: $CI_REGISTRY_IMAGE:dev
    entrypoint: [""]
  needs:
    - build-docker:debug
  script:
    - ./test/test_script.sh
  only:
    changes:
      - src/*
      - test/*
      - cmake/*
      - CMakeLists.txt
      - CMakePresets.json
      - vcpkg.json
      - .gitlab-ci.yml

Add address-sanitizer dependencies to centos devcontainer
  .devcontainer/library-scripts/provide-deps.sh
Due: build-ci

Fix use of sqlite dependency
  CMakeLists.txt
  src/main.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Add deps to debug deploy image
  docker/Dockerfile
  docker/library-scripts/provide-deps.sh
Due: none

Add vcpkg cache to ci pipeline
  .gitlab-ci.yml
Due: build-ci, build-storm-tape:debug, build-docker:debug, test

Fix build-docker:debug dependencies
  .gitlab-ci.yml
Due: build-ci, build-storm-tape:debug, build-docker:debug, test

Fix pipeline yaml syntax
  .gitlab-ci.yml
Due: build-ci, build-storm-tape:debug, build-docker:debug, test

Fix debug docker build
  .gitlab-ci.yml
  docker/Dockerfile
  docker/library-scripts/provide-deps.sh
Due: build-ci, build-storm-tape:debug, build-docker:debug, test

Fix debug deps
  docker/Dockerfile
  docker/library-scripts/provide-deps.sh
Due: none

Run pipeline also when docker directory changes
  .gitlab-ci.yml
Due: build-ci, build-storm-tape:debug, build-docker:debug, test

Fix typo
  docker/library-scripts/provide-deps.sh
Due: none

Add wildcard for sub folder
  .gitlab-ci.yml
Due: build-ci, build-storm-tape:debug, build-docker:debug, test

Fix missing backslash
  docker/library-scripts/provide-deps.sh
Due: none

Make ci test stage always succeed
  .gitlab-ci.yml
Due: build-ci, build-storm-tape:debug, build-docker:debug, test

Remove assert valid only in single-process cases
  src/extended_attributes.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Default bind for the moment
  src/main.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Add support for a configuration read from file
  CMakeLists.txt
  src/configuration.cpp
  src/configuration.hpp
  src/main.cpp
  tests/CMakeLists.txt
  tests/all.t.cpp
  tests/configuration.t.cpp
  tests/doctest.h
  vcpkg.json
Due: build-storm-tape:debug, build-docker:debug, test

Create a vector of the needed size
  src/database_soci.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Watch src folder in ci test stage
  .gitlab-ci.yml
Due: build-ci, build-storm-tape:debug, build-docker:debug, test

Add storage area resolution for paths
  CMakeLists.txt
  src/storage_area_resolver.cpp
  src/storage_area_resolver.hpp
  tests/CMakeLists.txt
  tests/storage_area_resolver.t.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Add short options for command line
  src/main.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Reserve based on the size of the right vector
  src/configuration.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Create a storm-tape.conf for the test
  test/test_script.sh
Due: build-storm-tape:debug, build-docker:debug, test

Fix failing ci-test stage
  .gitlab-ci.yml
  test/test_script.sh
Due: build-ci, build-storm-tape:debug, build-docker:debug, test

Add commit ref slug to docker images
  .gitlab-ci.yml
Due: build-ci, build-storm-tape:debug, build-docker:debug, test

Fix ci image tag
  .gitlab-ci.yml
Due: build-ci, build-storm-tape:debug, build-docker:debug, test

Distinguish between logical and physical paths
  src/database.hpp
  src/database_soci.cpp
  src/database_soci.hpp
  src/file.hpp
  src/io.cpp
  src/main.cpp
  src/sql_queries.hpp
  src/tape_service.cpp
  src/tape_service.hpp
Due: build-storm-tape:debug, build-docker:debug, test

Add double quote to provent globbing and word splitting
  .devcontainer/library-scripts/provide-cmake.sh
Due: build-ci

Fix SQL queries with logical/physical paths
  src/archiveinfo_response.hpp
  src/database_soci.cpp
  src/io.cpp
  src/local_storage.cpp
  src/sql_queries.hpp
  src/storage.hpp
  src/storage_area_resolver.cpp
  src/storage_area_resolver.hpp
  src/tape_service.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Set the stage id when the release is successful
  src/io.cpp
  src/release_response.hpp
  src/routes.cpp
  src/tape_service.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Don't consider files being recalled as on disk
  src/local_storage.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Don't pass to GEMSS files already being recalled
  src/tape_service.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Possibly move a file to Started during a status
  src/tape_service.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Sort ranges of files when applying set operations
  src/sql_queries.hpp
  src/tape_service.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Insert a new stage request via db transaction
  src/database_soci.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Move repo to cnafsd group
  README.md
Due: none

Always terminate the output with a newline
  src/io.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Add support for some bulk DB updates
  src/database.hpp
  src/database_soci.cpp
  src/database_soci.hpp
  src/tape_service.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Add newline at the end of output
  src/io.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Build in parallel during CI
  .gitlab-ci.yml
Due: build-ci, build-storm-tape:debug, build-docker:debug, test
