Repository giacomini/storm-tape: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-storm-tape:debug, build-docker:debug, test

.gitlab-ci.yml:

stages:
  - build-ci
  - build
  - docker-build
  - test

variables:
  VCPKG_DEFAULT_BINARY_CACHE: $CI_PROJECT_DIR/.cache/vcpkg

build-ci:
  stage: build-ci
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - docker login -u gitlab-ci-token -p ${CI_JOB_TOKEN} ${CI_REGISTRY}
  script:
    - docker build --pull -t $CI_REGISTRY_IMAGE/ci:$CI_COMMIT_REF_SLUG .devcontainer
    - docker push $CI_REGISTRY_IMAGE/ci:$CI_COMMIT_REF_SLUG
  only:
    changes:
      - .devcontainer/**/*
      - vcpkg.json
      - .gitlab-ci.yml
      
build-storm-tape:debug:
  stage: build
  image: $CI_REGISTRY_IMAGE/ci:$CI_COMMIT_REF_SLUG
  before_script:
    - mkdir -p $VCPKG_DEFAULT_BINARY_CACHE
  script:
    - cmake --preset debug
    - cmake --build build/debug --target package --parallel
  artifacts:
    paths:
    - build/debug/storm-tape-*.tar.gz
  cache:
    - key: $CI_JOB_NAME
      paths:
        - $VCPKG_DEFAULT_BINARY_CACHE
  only:
    changes:
      - src/*
      - test/**/*
      - cmake/**/*
      - docker/**/*
      - CMakeLists.txt
      - CMakePresets.json
      - vcpkg.json
      - .gitlab-ci.yml

build-storm-tape:release:
  stage: build
  image: $CI_REGISTRY_IMAGE/ci:$CI_COMMIT_REF_SLUG
  before_script:
    - mkdir -p $VCPKG_DEFAULT_BINARY_CACHE
  script:
    - cmake --preset release
    - cmake --build build/release --target package --parallel
  artifacts:
    paths:
    - build/release/storm-tape-*.tar.gz
  cache:
    - key: $CI_JOB_NAME
      paths:
        - $VCPKG_DEFAULT_BINARY_CACHE
  only:
    refs:
      - tags
  
build-docker:debug:
  stage: docker-build
  image: docker:latest
  services:
    - docker:dind
  needs:
    - build-storm-tape:debug
  before_script:
    - docker login -u gitlab-ci-token -p ${CI_JOB_TOKEN} ${CI_REGISTRY}
  script:
    - mv build/debug/storm-tape-*.tar.gz ./docker
    - docker build docker --pull -t $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG-debug
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG-debug
  only:
    changes:
      - src/*
      - test/**/*
      - cmake/**/*
      - docker/**/*
      - CMakeLists.txt
      - CMakePresets.json
      - vcpkg.json
      - .gitlab-ci.yml

build-docker:release:
  stage: docker-build
  image: docker:latest
  services:
    - docker:dind
  needs:
    - build-storm-tape:release
  before_script:
    - docker login -u gitlab-ci-token -p ${CI_JOB_TOKEN} ${CI_REGISTRY}
  script:
    - mv build/release/storm-tape-*.tar.gz ./docker
    - docker build docker --pull --build-arg STORM_BUILD_TYPE=release -t $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
  only:
    refs:
      - tags

test:
  stage: test
  image: 
    name: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG-debug
    entrypoint: [""]
  needs:
    - build-docker:debug
  script:
    - ./test/test_script.sh
  only:
    changes:
      - src/*
      - test/**/*
      - cmake/**/*
      - docker/**/*
      - CMakeLists.txt
      - CMakePresets.json
      - vcpkg.json
      - .gitlab-ci.yml

Add crow middleware to log one line per request
  CMakeLists.txt
  src/access_logger.cpp
  src/access_logger.hpp
  src/app.hpp
  src/main.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Preserve the files in the stage response
  src/stage_response.hpp
  src/tape_service.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Populate the AccessLogger context in each route
  src/routes.cpp
  src/routes.hpp
Due: build-storm-tape:debug, build-docker:debug, test

Better manage the Host header
  src/io.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Include the user (principal) in the access log
  src/access_logger.cpp
  src/access_logger.hpp
Due: build-storm-tape:debug, build-docker:debug, test

Add deployment directory
  deployment/.gitkeep
Due: none

Add kafka directory
  deployment/kafka/.gitkeep
Due: none

Upload file README
  deployment/README.md
Due: none

Validate x-request-id header
  src/access_logger.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Version 0.4.0
  version.txt
Due: none

filebeat.yml
  deployment/kafka/filebeat.yml
Due: none

A stage document is ok for requests asking paths
  src/io.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Add a newline at the end of every response
  src/io.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Add LogicalPath and PhysicalPath structs and vector aliases
  src/types.hpp
Due: build-storm-tape:debug, build-docker:debug, test

Update cancelled files' timestamps and fix
  src/database.hpp
  src/database_soci.cpp
  src/database_soci.hpp
  src/tape_service.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Add unit tests for TapeService::cancel method
  tests/tape_service.t.cpp
Due: none

Remove forgotten assert
  src/database_soci.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Fix return value for db update success or failure
  src/database_soci.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Remove useless this_thread::sleep_for
  tests/tape_service.t.cpp
Due: none

Add LogicalPath and PhysicalPath types
  src/archiveinfo_response.hpp
  src/cancel_response.hpp
  src/configuration.cpp
  src/configuration.hpp
  src/database.hpp
  src/database_soci.cpp
  src/database_soci.hpp
  src/file.hpp
  src/io.cpp
  src/io.hpp
  src/local_storage.cpp
  src/local_storage.hpp
  src/release_response.hpp
  src/requests_with_paths.hpp
  src/storage.hpp
  src/storage_area_resolver.cpp
  src/storage_area_resolver.hpp
  src/takeover_response.hpp
  src/tape_service.cpp
  src/types.hpp
  tests/tape_service.t.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Remove unecessary copy/cast kept for backward compatibility
  src/tape_service.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Add 'fast' tag to build-ci job
  .gitlab-ci.yml
Due: build-ci, build-storm-tape:debug, build-docker:debug, test

Add 'fast' tag to all jobs
  .gitlab-ci.yml
Due: build-ci, build-storm-tape:debug, build-docker:debug, test

Add emtpy lines
  src/types.hpp
Due: build-storm-tape:debug, build-docker:debug, test

Remove superflous comment
  src/database.hpp
Due: build-storm-tape:debug, build-docker:debug, test

Replace std::filesystem::path with storm::Path alias
  src/configuration.hpp
Due: build-storm-tape:debug, build-docker:debug, test

Run unit test after debug build
  .gitlab-ci.yml
Due: build-ci, build-storm-tape:debug, build-docker:debug, test

Move to_underlying to a more general place
  src/io.hpp
  src/types.hpp
Due: build-storm-tape:debug, build-docker:debug, test

Provide the non-const stage() method
  src/status_response.hpp
Due: build-storm-tape:debug, build-docker:debug, test

Fix merge conflicts
  src/database.hpp
  src/database_soci.cpp
  src/database_soci.hpp
Due: build-storm-tape:debug, build-docker:debug, test

Add support for an "in progress" endpoint
  CMakeLists.txt
  src/in_progress_response.cpp
  src/in_progress_response.hpp
  src/io.cpp
  src/io.hpp
  src/routes.cpp
  src/tape_service.cpp
  src/tape_service.hpp
Due: build-storm-tape:debug, build-docker:debug, test

Add a comment about find_incomplete_stages
  src/database_soci.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Replace Path(s) with PhysicalPath(s)
  src/in_progress_response.hpp
  src/io.cpp
  src/tape_service.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Set default user as non-root user 'vscode'
  .devcontainer/Dockerfile
Due: build-ci

Shortcuircuit if the updated stage has completed
  src/tape_service.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Add the path to the in-progress output
  src/io.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Add a few more tests about nested storage areas
  tests/configuration.t.cpp
  tests/storage_area_resolver.t.cpp
Due: none

Support multiple access points per storage area
  src/configuration.cpp
  src/configuration.hpp
  src/storage_area_resolver.cpp
  tests/configuration.t.cpp
  tests/storage_area_resolver.t.cpp
Due: build-storm-tape:debug, build-docker:debug, test

Remove duplicate paths
  src/tape_service.cpp
Due: build-storm-tape:debug, build-docker:debug, test
